<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	접근규칙 생성 <br/>
	<form action="/admin/accessRule/ruleWrite" method="post" >
	access_id: <input type="text" name="accessId" th:value="${command.accessId}" readonly>[[${command.accessId}]]   번호 자동생성 <br/>
	accessName: <input type="text" name="accessName" placeholder="규칙 이름"> <br/>
	allowdId:  <input type="text" name="allowdId" placeholder="허용부서"> <br/>
	allowgId: <input type="text" name="allowgId" placeholder="허용등급"> <br/>
	accessType:  <input type="text" name="accessType" placeholder="규칙 유형"><br/>
	'all', 'internal_all', 'dept_only', 'grade_only', 'dept_grade' <br/>
	<button type="submit">생성</button>
	</form>
</body>
</html>