<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/img/tiumBot1.png" />
  <title>TiumBotAdmin</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	<link href="/css/file.css" rel="stylesheet">
</head>
<body>
  <aside>
    <h2>폴더</h2>
    <ul class="folder-tree">
      <li>📁 기술문서</li>
      <li>📁 영업자료</li>
      <li>📁 인사정보</li>
      <li>📁 보안기준</li>
    </ul>
  </aside>
  <main>
    <div class="toolbar">
      <a class="button" th:href="@{/admin/file}">파일/경로 관리</a>
      <a class="button" th:href="@{/admin/user}" >사용자 설정</a>
      <a class="button" th:href="@{/admin/chatbot}">챗봇 설정</a>
      <a class="button" th:href="@{/admin/logout}">로그아웃</a>
      
    </div>

  <h2 >접근규칙 관리 페이지</h2>
  <p>
  <a class="button" th:href="@{/admin/accessRule/ruleWrite}">접근규칙 생성</a> | 
  <a class="button" th:href="@{/admin/accessRule/allowdWrite}">허용 부서 규칙 생성</a> 
  <a class="button" th:href="@{/admin/accessRule/allowdList}">허용 부서 규칙 설정</a> | 
  <a class="button" th:href="@{/admin/accessRule/allowgWrite}">허용 직급 규칙 생성</a> 
  <a class="button" th:href="@{/admin/accessRule/allowgList}">허용 직급 규칙 설정</a><br/>
  </p>
    <table class="file-table">
      <thead>
        <tr>
          <th>접근규칙</th>
          <th>허용 타입</th>
          <th>자세히</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="dto:${list}">
          <td>[[${dto.accessName}]]</td>
          <td>[[${dto.accessType}]]</td>
          <td> <a class="button" 
          th:href="@{/admin/accessRule/ruleUpdate?(accessId=${dto.accessId})}">자세히</a>
          <a class="button" 
          th:href="@{/admin/accessRule/ruleDelete?(accessId=${dto.accessId})}">삭제</a></td>
        </tr>
      </tbody>
    </table>
  </main>
</body>
</html>
