<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	접근규칙 수정<br/>
	<form action="/admin/accessRule/ruleUpdate" method="post" readonly>
	access_id: <input type="text" name="accessId" th:value="${dto.accessId}" readonly>[[${dto.accessId}]]   번호 자동생성 <br/>
	accessName: <input type="text" name="accessName" placeholder="규칙 이름" th:value="${dto.accessName}"> <br/>
	allowdId:  <input type="text" name="allowdId" placeholder="허용부서" th:value="${dto.allowdId}"> <br/>
	allowgId: <input type="text" name="allowgId" placeholder="허용등급" th:value="${dto.allowgId}" > <br/>
	accessType:  <input type="text" name="accessType" placeholder="규칙 유형" th:value="${dto.accessType}" ><br/>
	'all', 'internal_all', 'dept_only', 'grade_only', 'dept_grade' <br/>

	<button type="submit">수정</button>
	</form>
</body>
</html>