<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/img/tiumBot1.png" />
  <title>TiumBotAdmin</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	<link href="/css/file.css" rel="stylesheet">
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
function allowgSearch(allowgId, allowgName){
	$(opener.document).find("#allowgId").val(allowgId);
	$(opener.document).find("#allowgName").val(allowgName);
	window.self.close();
}
</script>
</head>
<body>
  <main>
  <h2 >허용 직급 규칙 관리</h2>
    <form action="/admin/accessRule/allowgList" method="get">
  	검색어 : <input type="text" name="searchWord" th:value="${searchWord}">
  	행: <select id="category" name="limitRow" >
      	<option value="10" th:selected="${limitRow==10 or limitRow == null or limitRow==''}">10개씩</option>
      	<option value="15" th:selected="${limitRow==15}">15개씩</option>
      	<option value="20" th:selected="${limitRow==20}">20개씩</option>
      	<option value="25" th:selected="${limitRow==25}">25개씩</option>
      	<option value="30" th:selected="${limitRow==30}">30개씩</option>
      	</select>
    <button class="button" type="submit">검색</button>
  </form>

    <table class="file-table">
      <thead>
        <tr>
          <th>허용 직급 규칙</th>
          <th>규칙 이름</th>
          <th>직급</th>
          <th>직급</th>
          <th>자세히</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="dto:${list}">
          <td>[[${dto.allowgId}]]</td>
          <td>[[${dto.allowgName}]]</td>
          <td>[[${dto.gradeId}]]</td>
          <td>[[${dto.gradeName}]]</td>
          <td> <a class="button" 
          th:attr="onclick=|javascript:allowgSearch([['${dto.allowgId}']],[['${dto.allowgName}']])|">선택</a></td>
        </tr>
        <tr>
        <td th:if="${list.size()==0}" colspan="10" align="center"> 검색결과가 없습니다.</td>
        </tr>
      </tbody>
      <tr>
      	<td colspan="6" align="center">
      	<span th:if="${page<=1}">[이전]</span>
      	<span th:if="${page>1}" th:href="@{/admin/accessRule/allowgList(page=${page-1},searchWord=${searchWord})}">[이전]</span>
      	<th:block th:each="i:${#numbers.sequence(startPageNum, endPageNum)}" >
      		[<a th:href="@{/admin/accessRule/allowgList(page=${i},searchWord=${searchWord})}">[[${i}]]</a>]
      	</th:block>
      	<span th:if="${page<maxPage}" th:href="@{/admin/accessRule/allowgList(page=${page+1},searchWord=${searchWord})}">[다음]</span>
      	<span th:if="${page>=maxPage}">[다음]</span>
      	</td>
      </tr>
    </table>
  </main>
</body>
</html>
