<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/img/tiumBot1.png" />
  <title>TiumBotAdmin</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	<link href="/css/file.css" rel="stylesheet">
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
	<script type="text/javascript" src="/js/checkBox.js"></script>
<script type="text/javascript">
$(function(){
	//값을 부모창으로 전송
	$("#selectComplite").click(function(){
		const selectedDeps = [];
		$('input[name="boxs"]:checked').each(function(){
			selectedDeps.push({ //값을 객체로 만들어서 배열에 추가
				departmentId: $(this).data('departmentid'),
				departmentName: $(this).data('departmentname')
			});
		});
		if(window.opener && typeof window.opener.setSelectedDepartments === 'function'){
			window.opener.setSelectedDepartments(selectedDeps); //JSON 배열 전달
		}
		window.self.close();
	});	
});
</script>
</head>
<body>
  <main>

  <h2 >부서 검색</h2>
    <form action="/admin/department/departmentMultiSelect" method="get">
  	검색어 : <input type="text" name="searchWord" th:value="${searchWord}">
    <button class="button" type="submit">검색</button>
  </form>
    <table class="file-table">
      <thead>
        <tr>
          <th>부서</th>
          <th>부서명</th>
          <th><input type="checkbox" id="checkBoxs">전체 선택 </th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="dto:${list}">
          <td>[[${dto.departmentId}]]</td>
          <td >[[${dto.departmentName}]]</td>
          <td> <input type="checkbox" id="departmentCheck" name="boxs" 
          th:attr="data-departmentid=${dto.departmentId}, data-departmentname=${dto.departmentName}">
      	  </td>
        </tr>
        <tr>
        <td th:if="${list.size()==0}" colspan="10" align="center"> 검색결과가 없습니다.</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="button" id="selectComplite">✔선택 완료</button>
  </main>
</body>
</html>
