<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/img/tiumBot1.png" />
  <title>TiumBotAdmin</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	<link href="/css/file.css" rel="stylesheet">
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#departmentMultiSelect").click(function(){
		window.open("/admin/department/departmentMultiSelect", "부서 검색"
				, "width=620, height=400, left=50, top=30")
	});
});	
function setSelectedDepartments(departmentList){
	//console.log(departmentList);
	$("#selectedDepartments").empty(); //초기화??
	
	$.each(departmentList, function(index, dep){
		$("#selectedDepartments").append(`
			<div>
				부서코드: <input type="text" name="departmentId" value="${dep.departmentId}"/><br/>
				부서명: <input type="text" name="departmentName" value="${dep.departmentName}"/>
			</div>
		
		`);
		
	});
}
</script>
</head>
<body>
<main>
	허용 부서 규칙 생성 <br/>
	<form action="/admin/accessRule/allowdWrite" method="post" readonly>
	allowd_id: <input type="text" name="allowdId" th:value="${command.allowdId}" readonly>
		[[${command.allowdId}]]   번호 자동생성 <br/>
	allowdName: <input type="text" name="allowdName" placeholder="허용 부서 규칙 이름"> <br/>
	허용할 부서:  <input type="text" placeholder="허용부서"  readonly> 
	<button type="button" class="button" id="departmentMultiSelect">부서 검색</button><br/>
	<a id="selectedDepartments"></a>
	<button type="submit" class="button" >생성</button>
	</form>
	</main>
</body>
</html>