<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/img/tiumBot1.png" />
  <title>TiumBotAdmin</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	<link href="/css/file.css" rel="stylesheet">
	<script type="text/javascript" src="../js/index.js" ></script>

</head>
<body>
  <aside>
    <h2>/docs</h2>
    <ul class="folder-tree">
      <li>📁 기술문서</li>
      <li>📁 영업자료</li>
      <li>📁 인사정보</li>
      <li>📁 보안기준</li>
    </ul>
  </aside>
  <main>
    <div class="toolbar">
      <a class="button" th:href="@{/admin/accessRule}">접근규칙 설정</a>
      <a class="button" th:href="@{/admin/user}" >사용자 설정</a>
      <a class="button" th:href="@{/admin/chatbot}">챗봇 설정</a>
      <a class="button" th:href="@{/admin/logout}">로그아웃</a>
      
    </div>
    <h2 >파일 / 경로 관리 페이지</h2>
       전체 파일 수: [[${count}]] <br/>
   현재경로 : [[${list[0].path}]]<br/>
  <p> 
<!--   <a th:href="@{/admin/file/fileList(pathId=${pathId},page=${page},searchWord=${searchWord})}">파일/파일경로 관리</a>
  <a th:href="@{/admin/file/pathWrite}">파일경로 생성</a>
  <a th:href="@{/admin/file/pathUpdate?pathId=path_000000001}">파일경로 수정</a>
  <a th:href="@{/admin/file/pathDelete?pathId=path_000000002}">파일경로 삭제</a> -->
  <a class="button" th:href="@{/admin/file/addAccessRule(pathId=${pathId})}">현재 경로 접근권한 설정</a>
  <p/>
    <div >
    
    </div>
    <table class="file-table">
      <thead>
        <tr >
          <th>파일명</th>
          <th>크기</th>
          <th>수정일</th>
          <th>자세히</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="dto:${list}">
          <td>[[${dto.fileDTO.fileName}]]</td>
          <td>[[${dto.fileDTO.size}]]</td>
          <td>[[${dto.fileDTO.updateTime}]]</td>
          <td><a class="button"
          th:href="@{/admin/file/fileDetail(fileId=${dto.fileDTO.fileId})}">자세히</a></td>
        </tr>
        
      </tbody>
      <tr align="center" > 
      <td > 
      	<span th:if="${page<=1}">[이전]</span>
      	<span th:if="${page>1}" th:href="@{/admin/file/fileList(pathId=${pathId},page=${page-1},searchWord=${searchWord})}">[이전]</span>
      	<!-- filePath대신 pathId 사용하는 로직으로 바꿔야 함 -->
      	<th:block th:each="i:${#numbers.sequence(startPageNum, endPageNum)}">
      	
      	[<a th:href="@{/admin/file/fileList(pathId=${pathId},page=${i},searchWord=${searchWord})}">[[${i}]]</a>]
      	</th:block>
      	<span th:if="${page<maxPage}" th:href="@{/admin/file/fileList(page=${page+1},searchWord=${searchWord})}">[다음]</span>
      	<span th:if="${page>=maxPage}">[다음]</span>
      </td> 
      </tr>
    </table>
  </main>
</body>
</html>
