<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/img/tiumBot1.png" />
  <title>TiumBotAdmin</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	<link href="../css/file.css" rel="stylesheet">
	<script type="text/javascript" src="../js/index.js" ></script>

</head>
<body>
  <aside>
    <h2>폴더</h2>
    <ul class="folder-tree">
      <li>📁 기술문서</li>
      <li>📁 영업자료</li>
      <li>📁 인사정보</li>
      <li>📁 보안기준</li>
    </ul>
  </aside>
  <main>
    <div class="toolbar">
      <a class="button" th:href="@{/admin/accessRule}">접근규칙 설정</a>
      <a class="button" th:href="@{/admin/user}" >사용자 설정</a>
      <button>삭제</button>
      <button>업로드</button>
      <a class="button" th:href="@{/admin/logout}">로그아웃</a>
      
    </div>
            <a th:href="@{/admin/file}">파일/파일경로 관리</a>
  <a >접근규칙 관리</a> <br/>
  
    <a th:href="@{/admin/file/pathWrite}">파일경로 생성</a>
  <a th:href="@{/admin/accessRule/ruleWrite}">접근규칙 생성</a> <br/>
  
  <a th:href="@{/admin/file/pathUpdate?pathId=path_000000001}">파일경로 수정</a>
  <a th:href="@{/admin/file/addAccessRule?pathId=path_000000001}">접근권한 설정(경로에)</a>
  <a th:href="@{/admin/accessRule/ruleUpdate?accessId=rule_000000001}">접근규칙 수정</a> <br/>
  
        <a th:href="@{/admin/file/pathDelete?pathId=path_000000002}">파일경로 삭제</a>
  <a th:href="@{/admin/accessRule/ruleDelete?accessId=rule_000000002}">접근규칙 삭제</a> <br/>
    <table class="file-table">
      <thead>
        <tr>
          <th>파일명</th>
          <th>크기</th>
          <th>수정일</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>매뉴얼_v1.pdf</td>
          <td>2.4MB</td>
          <td>2025-07-10</td>
        </tr>
        <tr>
          <td>보안정책.docx</td>
          <td>812KB</td>
          <td>2025-07-08</td>
        </tr>
        <tr>
          <td>계약서.hwp</td>
          <td>3.2MB</td>
          <td>2025-06-30</td>
        </tr>
      </tbody>
    </table>
  </main>
</body>
</html>
