<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.innochatbot.admin.mapper.DepartmentMapper">

<!-- allowd -->

<insert id="allowdInsert" parameterType="departmentDTO">
Insert into allow_departments (allowd_id, allowd_name, department_id)
values(#{allowdId}, #{allowdName}, #{departmentId})
</insert>

<select id="allowdCount" resultType="Integer">
select count(allowd_id) from allow_departments
</select>

<select id="allowdSelectAll" parameterType="StartEndPageDTO" resultType="departmentDTO">
select * from (
select row_number() over (order by allowd_id) as rn
 , allowd_id, allowd_name
 , ad.department_id, department_name 
from allow_departments ad 
left join department d 
on ad.department_id = d.department_id
<if test="searchWord!=null">
where 
allowd_name like concat('%',#{searchWord},'%')
</if>
) as sub where rn between #{startRow} and #{endRow}
</select>

<select id="allowdDetail" parameterType="String" resultType="departmentDTO">
select allowd_id, allowd_name
, ad.department_id, department_name
from allow_departments ad
left join department d
on ad.department_id = d.department_id
where allowd_id=#{allowdId}
</select>

<update id="allowdUpdate" parameterType="departmentDTO">
update allowd_departments
set allowd_name=#{allowd_name}
, department_id=#{departmentId}
where allowd_id=#{allowdId}
</update>

<delete id="allowdDelete" parameterType="String">
delete from allowd_departments
where allowd_id=#{allowdId}
</delete>


<!-- department -->

<insert id="departmentInsert" parameterType="departmentDTO">
insert into department(department_id, department_name)
values (#{departmentId}, #{departmentName})
</insert>

<select id="departmentCount" resultType="Integer">
select count(department_id) from department
</select>

<select id="departmentSelectAll" resultType="departmentDTO" parameterType="StartEndPageDTO">
select * from (
select row_number() over (order by department_id) as rn,
department_id, department_name
from department
<if test="searchWord!=null">
where
department_name like concat('%',#{searchWord},'%')
</if>
) as sub where rn 
<if test="startRow!=null and endRow!=null">
between #{startRow} and #{endRow}
</if>
</select>

<select id="departmentDetail" parameterType="String" resultType="departmentDTO">
select * from department
where department_id=#{departmentId}
</select>

<update id="departmentUpdate" parameterType="departmentDTO">
update department
set department_name=#{departmentName}
where department_Id=#{departmentId}
</update>

<delete id="departmentDelete" parameterType="string">
delete from department
where department_id = #{departmentId}
</delete>

</mapper>