<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.innochatbot.admin.mapper.FilePathMapper">

<select id="filePathSelectAll" resultType="pathDTO">
select * from file_path
</select>

<select id="filePathSelectId" resultType="pathDTO" parameterType="string">
select * from file_path where path_id=#{pathId}
</select>

<insert id="filePathInsert" parameterType="pathDTO">
insert into file_path (path_id, path, access_id)
values(#{pathId}, #{path}, #{accessId})
</insert>

<update id="filePathUpdate" parameterType="pathDTO">
update file_path
set path=#{path}, access_id=#{accessId}
where path_id=#{pathId}
</update>

<delete id="filePathDelete" parameterType="string">
delete from file_path where path_id = #{pathId}
</delete>

</mapper>
