<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.innochatbot.admin.mapper.GradeMapper">

<insert id="allowgInsert" parameterType="gradeDTO">
insert allow_grade into (allowg_id, grade_id)
values(#{allowgId}, #{gradeId})
</insert>

</mapper>