<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.innochatbot.admin.mapper.UserMapper">

<select id="userSelectAll" resultType="userDTO">
select * from user
</select>

<select id="userSelectOne" resultType="userDTO" parameterType="string">
select * from user where user_num=#{userNum}
</select>

<insert id="userInsert" parameterType="userDTO">
insert into user (user_num, user_id, user_pw, department_id, grade_id)
values(#{userNum}, #{userId}, #{userPw}, #{departmentId}, #{gradeId})
</insert>

<update id="userUpdate" parameterType="userDTO">
update user
set user_pw=#{userPw}, department_id=#{departmentId}, grade_id=#{gradId}
where user_num=#{userNum}
</update>

<delete id="userDelete" parameterType="string">
delete from user where user_id = #{userId}
</delete>

</mapper>