<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	사용자 수정 <br/>
	<form action="/admin/user/userUpdate" method="post" readonly>
	userNum: <input type="text" name="userNum" th:value="${dto.userNum}" readonly>[[${dto.userNum}]]   번호 자동생성 <br/>
	userId: <input type="text" name="userId" placeholder="아이디" th:value="${dto.userId}"> <br/>
	userPw:  <input type="text" name="userPw" placeholder="비밀번호" th:value="${dto.userPw}"> <br/>
	departmentId: <input type="text" name="departmentId" placeholder="부서" th:value="${dto.departmentId}"> <br/>
	gradeId:  <input type="text" name="gradeId" placeholder="등급" th:value="${dto.gradeId}"><br/>
	 <br/>
	<button type="submit">생성</button>
	</form>
</body>
</html>