<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.innochatbot.api.mapper.FileMapper">

<select id="filehashSelect" resultType="string" parameterType="string">
select hash from file where file_id = #{fileId}
</select>

<select id="fileIdSelect" parameterType="string" resultType="string">
select file_id
from file f
left join file_path fp
on f.path_id = fp.path_id
where file_name like concat('%', #{fileName},'%') 
and fp.path = #{path} 
</select>

<update id="updateFileHash" >
update file 
set hash = #{newHash}
where file_Id = #{fileId}
</update>

</mapper>